
@{
    ViewBag.Title = "MvDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<p> @Model.Name</p>
<br /><br />
<p>GENRE = @Model.Genre.Name</p>
<p>RELEASE DATE = @Model.ReleaseDate</p>
<p>DATE ADDED = @Model.DateAdded</p>
<p>NUMBER IN STOCK = @Model.NumberInStock</p>

